# gradle ignore
.gradle
build/

# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
out/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.class

# system ignore
.DS_Store
Thumbs.db

.idea/compiler.xml
modules.xml
workspace.xml
